NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=
NEXT_PUBLIC_LOCAL_RPC_URL=http://127.0.0.1:8545
NEXT_PUBLIC_SEPOLIA_RPC_URL=https://ethereum-sepolia.publicnode.com
NEXT_PUBLIC_ARBITRUM_SEPOLIA_RPC_URL=https://sepolia-rollup.arbitrum.io/rpc
NEXT_PUBLIC_BASE_SEPOLIA_RPC_URL=https://sepolia.base.org
NEXT_PUBLIC_FHENIX_NITROGEN_RPC_URL=https://api.nitrogen.fhenix.zone
NEXT_PUBLIC_EXPECTED_CHAIN_ID=31337
NEXT_PUBLIC_FHE_MINES_ADDRESS=
NEXT_PUBLIC_FHE_CRASH_ADDRESS=
NEXT_PUBLIC_FHE_HILO_ADDRESS=
NEXT_PUBLIC_FHE_PLINKO_ADDRESS=
NEXT_PUBLIC_VAULT_ADDRESS=
